*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:'Vazirmatn',sans-serif;
background:#0f0f0f;
color:white;
overflow-x:hidden;
}

/* INTRO */

#intro{
position:fixed;
inset:0;
background:#000;
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
animation:hideIntro 4s forwards;
}

.intro-name{
font-size:90px;
opacity:0;
animation:fadeName 2.5s forwards;
font-family:'Playfair Display',serif;
}

@keyframes fadeName{
from{
opacity:0;
transform:translateY(20px);
}
to{
opacity:1;
transform:translateY(0);
}
}

@keyframes hideIntro{
0%,80%{
opacity:1;
}
100%{
opacity:0;
visibility:hidden;
}
}

#mainContent{
opacity:0;
animation:showSite 2s forwards;
animation-delay:3.2s;
}

@keyframes showSite{
to{
opacity:1;
}
}

/* HERO */

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
position:relative;
}

.hero-content h1{
font-size:90px;
font-family:'Playfair Display',serif;
margin-bottom:20px;
}

.hero-content p{
font-size:22px;
line-height:2;
color:#ddd;
}

.btn{
display:inline-block;
margin-top:40px;
padding:14px 40px;
background:white;
color:black;
border-radius:50px;
text-decoration:none;
font-weight:bold;
transition:.3s;
}

.btn:hover{
transform:translateY(-3px);
}

/* TIMELINE */

.timeline{
padding:120px 10%;
}

.timeline h2{
text-align:center;
font-size:40px;
margin-bottom:50px;
}

.cards{
display:flex;
gap:30px;
justify-content:center;
flex-wrap:wrap;
}

.card{
width:300px;
padding:30px;
background:rgba(255,255,255,.06);
backdrop-filter:blur(15px);
border:1px solid rgba(255,255,255,.1);
border-radius:20px;
text-align:center;
}

.counter{
font-size:55px;
margin:20px 0;
color:#d4af37;
}

/* ENVELOPE */

.letter-section{
padding:120px 20px;
text-align:center;
}

.envelope{
width:260px;
height:170px;
margin:auto;
position:relative;
cursor:pointer;
}

.body{
position:absolute;
bottom:0;
width:100%;
height:100%;
background:#d4af37;
border-radius:10px;
}

.flap{
position:absolute;
top:0;
left:0;
width:0;
height:0;
border-left:130px solid transparent;
border-right:130px solid transparent;
border-top:90px solid #f2cf68;
z-index:2;
}

.envelope span{
position:absolute;
inset:0;
display:flex;
justify-content:center;
align-items:center;
font-size:45px;
z-index:3;
}

/* FINAL */

.final{
padding:200px 20px;
text-align:center;
}

.final h1{
font-size:70px;
margin-top:20px;
}

/* PHOTO MODAL */

#photoModal{
position:fixed;
inset:0;
background:rgba(0,0,0,.95);
display:none;
justify-content:center;
align-items:center;
z-index:99999;
}

#photoModal img{
max-width:85%;
max-height:85%;
border-radius:20px;
}

#closeModal{
position:absolute;
top:25px;
right:35px;
font-size:40px;
cursor:pointer;
}

/* HEARTS */

.heart{
position:fixed;
color:white;
opacity:.05;
pointer-events:none;
animation:float 12s linear infinite;
}

@keyframes float{
from{
transform:translateY(110vh);
}
to{
transform:translateY(-120vh);
}
  }
